<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRnqwVl8yGQmj5UzOPzx9k5RSHNvkuS44</string>
	<key>GCM_SENDER_ID</key>
	<string>28562417714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.javeriana.beu.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>be-u-notification-system</string>
	<key>STORAGE_BUCKET</key>
	<string>be-u-notification-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28562417714:ios:d621f273b5cc88094d742b</string>
</dict>
</plist>